// padding-top
@for $i from 0 through 20 {
  @for $j from 0 through 20 {
    .u-pt#{$i*5}-#{$j*5} {
      padding-top: 5px * $i;
    }
  }
}
@include tab{
  @for $i from 0 through 20 {
    @for $j from 0 through 20 {
      .u-pt#{$i*5}-#{$j*5} {
        padding-top: 5px * $j;
      }
    }
  }
}
// padding-bottom
@for $i from 0 through 20 {
  @for $j from 0 through 20 {
    .u-pb#{$i*5}-#{$j*5} {
      padding-bottom: 5px * $i;
    }
  }
}
@include tab{
  @for $i from 0 through 20 {
    @for $j from 0 through 20 {
      .u-pb#{$i*5}-#{$j*5} {
        padding-bottom: 5px * $j;
      }
    }
  }
}
// padding-left
@for $i from 0 through 20 {
  @for $j from 0 through 20 {
    .u-pl#{$i*5}-#{$j*5} {
      padding-left: 5px * $i;
    }
  }
}
@include tab{
  @for $i from 0 through 20 {
    @for $j from 0 through 20 {
      .u-pl#{$i*5}-#{$j*5} {
        padding-left: 5px * $j;
      }
    }
  }
}
// padding-right
@for $i from 0 through 20 {
  @for $j from 0 through 20 {
    .u-pr#{$i*5}-#{$j*5} {
      padding-right: 5px * $i;
    }
  }
}
@include tab{
  @for $i from 0 through 20 {
    @for $j from 0 through 20 {
      .u-pr#{$i*5}-#{$j*5} {
        padding-right: 5px * $j;
      }
    }
  }
}

