extends ../_include/_layout

block var
  - metas = {}
  - metas.title = 'page1'
  - metas.url = 'url'
  - metas.image = 'image'
  - metas.site_name = 'site_name'
  - metas.description = 'description'
  - metas.path = '../'

block content
  h1.u-tac.u-mt20-20.u-mb20-20 page1
  