//- header.l-header>.--content.conteiner>ul.--lists>(li.--list>a)*5
header.l-header
  .l-header__content.l-conteiner
    .l-header__logo.u-tac
      a(href="/")
        img(src= img+"common/pug.svg", alt="")
    ul.l-header__lists
      li.l-header__list
        a(href= metas.path+"index.html") top
      li.l-header__list
        a(href= metas.path+"page/page1.html") page1