meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1,user-scalable=0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
meta(name="description" content="#{metas.description}")
title #{metas.title}
link(rel="icon" href="/favicon.ico")
link(rel="icon" type="image/png" href="/favicon16.png" sizes="16x16")
link(rel="icon" type="image/png" href="/favicon32.png" sizes="32x32")
link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i" rel="stylesheet")
link(href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet")
link(rel="stylesheet", href=css+"main.css")