// width Precent
// .l-w5p: width:5%
@for $i from 0 through 20 {
  .l-w#{$i*5}p {
    width: 5% * $i;
  }
}

// width Percent with Media Queries
@for $i from 0 through 20 {
  @for $j from 0 through 20 {
    .l-w#{$i*5}-#{$j*5} {
      width: 5% * $i;
    }
  }
}
@include tab {
  @for $i from 0 through 20 {
    @for $j from 0 through 20 {
      .w#{$i*5}-#{$j*5} {
        width: 5% * $j;
      }
    }
  }
}

// width Pixel
// .l-w5: width:5px to 200px
@for $i from 0 through 20 {
  .l-w#{$i*10} {
    width: 10px * $i;
  }
}