<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title not_use_layout
    link(rel="stylesheet", href="./assets/css/main.css")
  body
    h1.l-tac.u-mt50-20 not_use_layout
